<div class="pbgc-content-section pbgc-progress-bar-container card">
    <div class="card-body">
      <p class="card-title">New Filing</p>
      <div class="progress-bar-wrapper">
        <section class="step-indicator">
          <div class="indicator-line start"></div>
          <div class="step start active">
            <div class="step-icon active"></div>
            <p>Employer type</p>
          </div>
          <div class="indicator-line"></div>
          <div class="step middle">
            <div class="step-icon"></div>
            <p>Filing name</p>
          </div>
          <div class="indicator-line"></div>
          <div class="step middle">
            <div class="step-icon"></div>
            <p>Prepopulate</p>
          </div>
          <div class="indicator-line"></div>
          <div class="step end">
            <div class="step-icon"></div>
            <p>Filing created</p>
          </div>
          <div class="indicator-line end"></div>
        </section>
      </div>
    </div>
  </div>