@import 'pbgc_theme';

.pbgc {

  .pbgc-new-filing {
    
    .btn-pbgc-large-icon {
      width: 300px;
      height: 300px;
      padding: 0.375rem 0;

      &:first-child {
        margin-right: 0.5rem;
      }

      label {
        height: 100%;
        padding-top: 1.5rem;

        .radio-check-icon {
          &::before {
            padding-left: 1.5rem;
            display: block;
            font-family: 'Material Icons';
            content: '\e836';
            font-size: 1rem;
            text-align: left;
          }
        }

        .radio-large-img {
          margin: 1rem auto;
          display: block;
        }

        .label-text {
          padding-top: 1.25rem;
          display: block;
        }
      }

      input[type='radio'] {
        display: inline-block;
        vertical-align: middle;
        
        &:checked {

          &~ label {
  
            .radio-check-icon {
    
              &::before {
                font-family: 'Material Icons';
                content: '\e837';
              }
            }
          }
        }
      }
    }

    // Text styles for required label
    .red {
      color: $pbgc-danger;
    }
    .required {
      color: $pbgc-gray-500;
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}