@import 'pbgc_theme';

.pbgc {

  // Applied on all PBGC buttons
  .btn-pbgc {
    border-radius: 8px;

    &:hover {
      box-shadow: 2px 2px 0px $pbgc-primary;
    }

    &:focus, &:active {
      box-shadow: 0px 0px 4px 2px rgba(0, 189, 227, 0.5);
    }
  }

  // Specific style buttons
  .btn-pbgc-primary {
    background-color: $pbgc-secondary;
    color: #ffffff;
  }

  .btn-pbgc-secondary {
    background-color: $pbgc-info;
    color: $pbgc-dark;
  }

  .btn-pbgc-info {
    background-color: #ffffff;
    color: $pbgc-secondary;
  }

  .btn-pbgc-default {
    background-color: #ffffff;
    color: $pbgc-secondary;
    border: 1px solid $pbgc-secondary;
  }

  // Form buttons

  // Radio form elements (general styles)
  .btn-pbgc-radio {

    label {
      width: 100%;
      border: 2px solid $pbgc-gray-100;
      border-radius: $pbgc-border-radius;

      &:hover {
        border: 2px solid $pbgc-secondary;
        cursor: pointer;
      }
    }

    input {
      opacity: 0;
      position: fixed;
      width: 0;

      &:checked + label {
        background-color: $pbgc-info;
        border: 2px solid $pbgc-secondary;
        box-shadow: none;
        font-weight: bold;
      }
    }
  }

  // Radio form element with text
  .btn-pbgc-radio-text {
    margin-bottom: 7px;

    input {

      &:checked + label {

        &::before {
          font-family: 'Material Icons';
          content: '\e837';
        }
      }
    }

    label {
      padding: 15px;

      &::before {
        padding-right: 10px;
        position: relative;
        top: 3px;
        font-family: 'Material Icons';
        font-size: 1rem;
        content: '\e836';
      }

      .label-text {
        font-size: 0.9rem;
      }
    }
  }
}