$pbgc-primary: #0b4778;
$pbgc-secondary: #005ea2;
$pbgc-info: #e7f6f8;

$pbgc-footer-gray: #757575;
$pbgc-gray-100: #f2f2f2;
$pbgc-gray-200: #dfe1e2;
$pbgc-dark: #1d192b;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$link-color: $pbgc-primary;
