@import 'pbgc_theme';

.pbgc {

  .pbgc-dashboard {

    .nav-tabs {
      padding-left: 20px;

      .nav-link {
        border-radius: $pbgc-border-radius $pbgc-border-radius 0 0;
        color: $pbgc-primary;
        
        &.active {
          color: $pbgc-primary;
          font-weight: 700;
        }
      }
    }

    .pbgc-card {
      border-radius: 0 0 $pbgc-border-radius $pbgc-border-radius;
      border: none;

      .pbgc-dashboard-table {
        font-size: .85rem;

        th {
          background-color: #fbfbfb;
          border-top: none;
        }

        .pbgc-table-icon {
          font-size: 16px;
          vertical-align: middle;
          padding: 0 0 2px 8px;
        }

      }
    }
  }
}