// Colors

$pbgc-primary: #0b4778;
$pbgc-secondary: #005ea2;
$pbgc-light-blue: #a9d2ef;
$pbgc-info: #e7f6f8;
$pbgc-danger: red;

$pbgc-gray-100: #f2f2f2;
$pbgc-gray-200: #dfe1e2;
$pbgc-gray-500: #5c5c5c;
$pbgc-gray-700: #757575;
$pbgc-dark: #1d192b;

$link-color: $pbgc-primary;

// General style variables
$pbgc-border-radius: 16px;
