.pbgc .btn-pbgc {
  border-radius: 8px;
}
.pbgc .btn-pbgc:hover {
  box-shadow: 2px 2px 0px #0b4778;
}
.pbgc .btn-pbgc:focus, .pbgc .btn-pbgc:active {
  box-shadow: 0px 0px 4px 2px rgba(0, 189, 227, 0.5);
}
.pbgc .btn-pbgc-primary {
  background-color: #005ea2;
  color: #ffffff;
}
.pbgc .btn-pbgc-secondary {
  background-color: #e7f6f8;
  color: #1d192b;
}
.pbgc .btn-pbgc-info {
  background-color: #ffffff;
  color: #005ea2;
}
.pbgc .btn-pbgc-default {
  background-color: #ffffff;
  color: #005ea2;
  border: 1px solid #005ea2;
}
.pbgc .btn-pbgc-radio {
  border: 2px solid #f2f2f2;
  border-radius: 16px;
}
.pbgc .btn-pbgc-radio .radio-icon::before {
  font-family: "Material Icons";
  content: "\e836";
}
.pbgc .btn-pbgc-radio:hover {
  border: 2px solid #005ea2;
}
.pbgc .btn-pbgc-radio.focus, .pbgc .btn-pbgc-radio.active {
  background-color: #e7f6f8;
  border: 2px solid #005ea2;
  box-shadow: none;
}
.pbgc .btn-pbgc-radio.focus .radio-icon::before, .pbgc .btn-pbgc-radio.active .radio-icon::before {
  font-family: "Material Icons";
  content: "\e837";
}
.pbgc .btn-pbgc-radio.focus label, .pbgc .btn-pbgc-radio.active label {
  font-weight: bold;
}
.pbgc .btn-pbgc-radio-text {
  margin-bottom: 15px;
}
.pbgc .btn-pbgc-radio-text .radio-icon-container {
  padding: 0.5rem 0 0 0.25rem;
}
.pbgc .btn-pbgc-radio-text .radio-text-container {
  padding-left: 10px;
  flex: 1 1 auto !important;
  text-align: left;
}
.pbgc .btn-pbgc-radio-text .radio-text-container label {
  margin: 0.6rem 0;
  font-size: 0.9rem;
}