.pbgc .btn-pbgc {
  border-radius: 8px;
}
.pbgc .btn-pbgc:hover {
  box-shadow: 2px 2px 0px #0b4778;
}
.pbgc .btn-pbgc:focus, .pbgc .btn-pbgc:active {
  box-shadow: 0px 0px 4px 2px rgba(0, 189, 227, 0.5);
}
.pbgc .btn-pbgc-primary {
  background-color: #005ea2;
  color: #ffffff;
}
.pbgc .btn-pbgc-secondary {
  background-color: #e7f6f8;
  color: #1d192b;
}
.pbgc .btn-pbgc-info {
  background-color: #ffffff;
  color: #005ea2;
}
.pbgc .btn-pbgc-default {
  background-color: #ffffff;
  color: #005ea2;
  border: 1px solid #005ea2;
}
.pbgc .btn-pbgc-radio label {
  width: 100%;
  border: 2px solid #f2f2f2;
  border-radius: 16px;
}
.pbgc .btn-pbgc-radio label:hover {
  border: 2px solid #005ea2;
  cursor: pointer;
}
.pbgc .btn-pbgc-radio input {
  opacity: 0;
  position: fixed;
  width: 0;
}
.pbgc .btn-pbgc-radio input:checked + label {
  background-color: #e7f6f8;
  border: 2px solid #005ea2;
  box-shadow: none;
  font-weight: bold;
}
.pbgc .btn-pbgc-radio-text {
  margin-bottom: 7px;
}
.pbgc .btn-pbgc-radio-text input:checked + label::before {
  font-family: "Material Icons";
  content: "\e837";
}
.pbgc .btn-pbgc-radio-text label {
  padding: 15px;
}
.pbgc .btn-pbgc-radio-text label::before {
  padding-right: 10px;
  position: relative;
  top: 3px;
  font-family: "Material Icons";
  font-size: 1rem;
  content: "\e836";
}
.pbgc .btn-pbgc-radio-text label .label-text {
  font-size: 0.9rem;
}