{% extends 'PBGC - Base Template' %}

{% block pageHeader %}
  <link rel="stylesheet" href="/css/pbgc-dashboard.css">
{% endblock %}

{% block content %}
  <div class="flex-shrink-0">
    <div class="container-fluid p-4 pbgc-dashboard">
      {% comment %}
        List of tabs to be displayed on the page with bookmarks to their respective content tables.
        Add <li> for each additional tab that will be displayed.
      {% endcomment %}
      <!-- TODO: Would it be possible to make this fully dynamic with a "Tabbed Lists Control" template that in turn created both tabs and lists -->
      <ul class="nav nav-tabs" id="pbgcDashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="#pbgcDraftsTabContent" id="pbgcDashboardDrafts" data-toggle="tab">Drafts</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#pbgcSubmittedTabContent" id="pbgcDashboardSubmitted" data-toggle="tab">Submitted</a>
        </li>
      </ul>
      {% comment %}
        Elements for each of the content tables corresponding to the tabs that will be displayed on the page.
        Add a <div> for each additional table, the id should be the same as teh href bookmark on the tab.
        The last descendant of each <div> should pull in the appropriate entity list by the id using the following:
          {% include 'PBGC - Content List' entityListId: "[Entity List Guid]"" %}
      {% endcomment %}
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pbgcDraftsTabContent" role="tabpanel" aria-labelledby="home-tab">
          <div class="card pbgc-card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  {% include 'PBGC - Content List' entityListID:page.adx_entitylist.id %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pbgcSubmittedTabContent" role="tabpanel" aria-labelledby="profile-tab">
          <div class="card pbgc-card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  {% include 'PBGC - Content List' entityListID:"6561082f-aaf4-ec11-bb3d-00224809ed39" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}